* {
    font-family: 'Poppins', sans-serif;
}

/*  */
.header__title {
    font-weight: 600;
    font-size: 48px;
}

.header__des {
    font-weight: 300;
}
.hot-badge{
    top: 0;
    background-color: red;
    color: white;
    left: 80%;
    transform: translate(-50%, -50%);
}